/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.like-icon.is-liked .main-body {
    fill: var(--sparks-color);
    transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
    fill: var(--sparks-color);
}

.like-icon.is-liked .heart {
    animation: 0.3s ease-in 0.1s 1 alternate more;
}

.like-icon.is-liked .sparks {
    animation:  0.3s ease-in 0.3s 1 alternate sparks;
}


@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(4px, 0px);
    }
}


@keyframes more {
    from {
        transform: scale(1);
    }
    to {
        transform:scale(1.5);
    }
}


@keyframes sparks {
    from {
        opacity: 0;
    }
    to {
        opacity:1;
    }
}
