/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  position: relative;
  width: 100vw;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-weight: var(--wgth-text);
  background-color: var(--bg-color);
  color: var(--accent-color);
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font), sans-serif;
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-block-size: 667px;
  background-image: var(--multi-repeating-linear);
  background-attachment: fixed;
  background-size: contain;
  font-family: var(--accent-font);
}

.wrapper {
  width: 100%;
  z-index: 1;
  position: relative;
  top:102px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header{
  width: 100%;
  min-height: 323px;
  border: var(--brd);
  background-color: var(--bg-color);
  font-family: var(--accent-font);
  line-height: normal;
  text-transform: uppercase;
  margin-block-end: 104px;
}

.header__logo {
  font-size: clamp(2.5rem, -0.773rem + 16.364vw, 3.063rem);
  padding-block-start: 120px;
  text-align: center;
}

.header__title {
  padding-block-start: 20px;
  font-size: 14px;
  text-align: center;
}

.theme-menu__list {
  padding-block: 25px;
  display: grid;
  justify-content: center;
  gap:14px;
}

.button {
  position: relative;
  background: transparent;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  background: transparent;
  border: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity var(--transition);
}

.theme-menu__button:focus {
  outline:none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  transition: opacity var(--transition);
  pointer-events: none;
}

.theme-menu__button:disabled::before{
  position: absolute;
  content:"▶";
  left: -15px;
  animation: move 0.5s ease-in-out alternate infinite;
}

@keyframes move {
  0% {transform: translate(0px, 0px);}
  100% {transform: translate(4px, 0px);}
}

.theme-menu__button::after{
  content:" ";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 1px;
  background: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.theme-menu__button:focus-visible::after{
  content:" ";
  position: absolute;
  left: 0;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 1px;
  background: var(--accent-color);
  transform: scaleX(1);
}

.main {
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 50px;
  background-color: var(--bg-color);
  margin-block-end: 52px;
}

.card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  border: var(--brd);
}

.title {
  padding: 8px 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: var(--wgth-title);
  line-height: normal;
}

.card__description {
  display: grid;
  gap: 27px;
  padding-block: 25px;
  padding-inline: 27px 29px;
  font-size: 18px;
  line-height: 1.2;
}

.picture__group {
  width: 100%;
  height: 100%;
  position: relative;
  border-top: var(--brd);
  border-bottom: var(--brd);
}

.label {
  z-index: 2;
  position: absolute;
  top:25px;
  right: 11px;
  color: var(--accent-color);
  text-shadow: var(--text-shadow);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

@supports ((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .label {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--stroke-color);
    text-shadow: none;
    text-stroke: 1px var(--stroke-color);
  }
}

.card__picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.first-picture {
  filter: opacity(0.8);
}

.second-picture{
  filter: sepia(80%) blur(0.2rem);
}

.third-picture{
  filter: saturate(258%);
}

.fourth-picture{
  filter: grayscale(0.3);
}

.fifth-picture{
  filter: hue-rotate(90deg);
}

.sixth-picture{
  filter: invert(80%) hue-rotate(100deg);
}

.seventh-picture{
  filter: contrast(50%);
}

.eighth-picture{
  filter: brightness(70%) saturate(60%) hue-rotate(90deg);
}


.card__like {
  display: flex;
  justify-content: end;
  margin-block-end: 25px;
  margin-inline-end: 25px;
  align-items: center;
  gap: 8px;
}

.card__icon-button {
  z-index: 2;
  padding: 0;
  display: grid;
  width: 39px;
  height: 36px;
  justify-content: center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: opacity 0.3s ease;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.core:hover {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.core:active {
  fill: var(--sparks-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--sparks-color);
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.main-body:hover {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.main-body:active {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);

}

.like-icon.is-liked .heart {
  animation: 0.3s ease-in 0.1s 1 alternate more;
}

@keyframes more {
  from {transform: scale(1);}
  to {transform:scale(1.5);}
}

.sparks{
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation:  0.3s ease-in 0.3s 1 alternate sparks;
}

@keyframes sparks {
  from {opacity: 0;}
  to {opacity:1;}
}


.card__like-button {
  position: relative;
  width: 130px;
  background: transparent;
  border: var(--brd);
  padding: 9px 17px;
  overflow: hidden;
}

.card__like-button::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}

.card__like-button:hover::before {
  z-index: 0;
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}

.card__like-button:focus  {
  outline:none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: var(--transition);
}

.button__text {
  z-index:2;
  font-family: var(--accent-font);
  mix-blend-mode: difference;
  color: var(--button-text--color);
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 0.9;
}



/*стили футера*/
.footer {
  z-index:1;
  position: relative;
  width: 100%;
  display: grid;
  justify-content: center;
  margin-block-end: 100px;
}

.footer__button {
  background-color: var(--bg-color);
  width: 306px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: var(--brd);
  position: relative;
  overflow: hidden;
}

.floppy {
  z-index: 2;
  position: relative;
  color: var(--button-text--color);
  mix-blend-mode: difference;
}

.footer__button:focus {
  outline: none;
}

.footer__button:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}

.footer__button:hover::before {
  z-index: 0;
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}

.footer__button:focus  {
  outline:none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: var(--transition);
}

.modal__window {
  position: relative;
  width: 341px;
  height: 195px;
  background-color: var(--bg-color);
  border: var(--brd);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  opacity: 0;
  transition: opacity 0.5s ease 0.1s ;
}

dialog[open] {
  opacity: 1;
  pointer-events: inherit;
}


dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal__message {
  max-width: 257px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.modal__button {
  width: 257px;
  height: 38px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--brd);
  position: relative;
  overflow: hidden;
}

.modal__button::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}

.modal__button:hover::before {
  z-index: 0;
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}

.modal__button:focus  {
  outline:none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: var(--transition);
}

.modal__text {
  line-height: 1.5; /* 21px */
  text-transform: uppercase;
}

.modal__floppy {
  width: 100%;
  align-self: center;
}


/*адаптив*/

@media (375px < width <= 1440px) {

  .container{
    min-block-size: clamp(41.688rem, 35.239rem + 27.512vw, 60rem);
  }

  .wrapper {
    width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  }

  .header__logo {
    padding-block-start: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
    font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  }

  .header__title {
    font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  }

  .main {
    gap: 54px;
    margin-block-end: 52px;
  }

  .footer__button {
    width: 335px;
    height: 51px;
    flex-direction: row;
    margin-block-end: 104px;
  }

}

@media (width > 1440px) {

  .container {
    min-block-size: 960px;
  }

  .wrapper {
    width: 700px;
  }

  .header__logo {
    padding-block-start: 136px;
    font-size: 65px;
  }

  .header__title {
    font-size: 23px;
  }

  .footer__button {
    width: 335px;
    height: 51px;
    flex-direction: row;
    margin-block-end: 104px;
  }

}
