/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  max-inline-size: 1440px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background: var(--bg-color);
  font-family: var(--main-font), Inter;
  font-weight: var(--wgth);
  color: var(--font-color);
}


.header__group {
  min-height: 527px;
  width: 100vw;
  display: grid;
  justify-content: stretch;
  align-content: center;
}
.header {
  width: 100%;
  background: var(--bg-color);
  padding-block: 105px 25px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  border: 2px solid #00cc14;
}

.header__title {
  font-size: 49px;
  margin-block-end: 20px;
  text-align: center;
}

.header__subtitle {
  font-size: 14px;
  margin-block-end: 25px;
  text-align: center;
}

.theme-menu {
  margin: 0 auto;
}

.theme-menu__list {
  display:grid;
  gap: 14px;
  justify-content: center;
}

.theme-menu__button {
  background: transparent;
  border: none;
  text-align: left;
}

.theme-menu__button:hover {
  opacity: 0.6;
}
