/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-weight: var(--wgth);
  background: var(--bg-color);
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font), sans-serif;
  }
}

.content {
  min-height: 667px;
  background-attachment: fixed;
  margin: 0 auto;
  background-image:var(--multi-repeating-linear);
}

.header {
  margin: 0 auto;
  max-inline-size: 700px;
  margin-block-start: -590px;
  width: 100%;
  min-height: 323px;
  border:var(--brd);
  background-color: var(--bg-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.header__title {
  padding-block-start: 120px;
  font-size: 49px;
  text-align: center;
}

.header__subtitle {
  padding-block-start: 20px;
  text-align: center;
}

.theme-menu__list {
  padding-block: 25px;
  display: grid;
  justify-content: center;
  gap:14px;
}

.theme-menu__button {
  text-transform: uppercase;
  background: transparent;
  border: none;
}

.main {
  margin: 0 auto;
  max-inline-size: 700px;
  width: 100%;
  margin-block-start: 104px;
  display: grid;
  gap: 50px;
}

.border {
  border:var(--brd);
  background-color: var(--bg-color);
}

.section {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
}

.section__title {
  padding: 8px 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section__description {
  display: grid;
  gap: 27px;
  padding-block: 25px;
  padding-inline: 27px 29px;
  font-size: 18px;
  line-height: 1.2;
}

.section__picture {
  width: 100%;
  height: 100%;
  position: relative;
}

.section__like {
  display: flex;
  justify-content: end;
  margin-block-end: 25px;
  margin-inline-end: 25px;
  align-items: center;
  gap: 19px;
}

.section__button {
  width: 130px;
  background: transparent;
  border: var(--brd);
  padding: 9px 17px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
}


