/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
    --contour-color: #000;
    --sparks-color: #FF0000;
    --button-text--color: #fff;
    --bg-color: #fff;
    --accent-color: #000;
    --main-font:'Inter-Variable';
    --accent-font:'PressStart2P';
    --wgth-text: 400;
    --wgth-title: 700;
    --brd: 2px solid var(--accent-color);
    --multi-repeating-linear:
            repeating-linear-gradient(
                    to right,
                    #d3d3d3 0 2px,
                    transparent 4px
            ),
            repeating-linear-gradient(
                    to bottom,
                    #d3d3d3 0 2px,
                    transparent 4px
            ),
            linear-gradient(#e7e7e7, #1a1a1a);
    background-size: cover;
    --text-shadow:  -1px 0 #fff,
    0 1px #fff,
    1px 0 #fff,
    0 -1px #fff;
    --stroke-color: var(--bg-color);
    --transition: 0.5s ease;
}

:root.theme-dark {
    --contour-color: #00CC14;
    --sparks-color: #FF0000;
    --button-text--color: #00CC14;
    --bg-color: #000;
    --accent-color: #00CC14;
    --wgth-text: 465;
    --wgth-title: 785;
    --brd: 2px solid var(--accent-color);
    --multi-repeating-linear:
    repeating-linear-gradient(
            to right,
            #000 0 2px,
            transparent 4px
    ),
    repeating-linear-gradient(
            to bottom,
            #000 2px,
            transparent 4px
    ),
        linear-gradient(#007f0c, #004306);
    background-size: cover;
    --text-shadow:  -1px 0 #000,
    0 1px #000,
    1px 0 #000,
    0 -1px #000;
    --stroke-color: var(--bg-color);
    --transition: 0.5s ease;
}

@media (prefers-color-scheme: dark) {
    /* Дублируем переменные темной темы */
    :root {
        --sparks-color: #FF0000;
        --contour-color: #00CC14;
        --button-text--color: #00CC14;
        --bg-color: #000;
        --accent-color: #00CC14;
        --wgth-text: 465;
        --wgth-title: 785;
        --brd: 2px solid var(--accent-color);
        --multi-repeating-linear: repeating-linear-gradient(
                to right,
                #000 0 2px,
                transparent 4px
        ),
        repeating-linear-gradient(
                to bottom,
                #000 2px,
                transparent 4px
        ),
        linear-gradient(#007f0c, #004306);
        background-size: cover;
        --text-shadow: -1px 0 #000,
        0 1px #000,
        1px 0 #000,
        0 -1px #000;
        --stroke-color: var(--bg-color);
        --transition: 0.5s ease;
    }
}



