/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {

}


:root.theme-dark {
    --bg-color: #000;
    --accent-color: #00CC14;
    --wgth-text: 465;
    --wgth-title: 785;
    --brd: 2px solid var(--accent-color);
    --multi-repeating-linear:
            repeating-linear-gradient(
                    to right,
                    #000 0 2px,
                    transparent 4px
            ),
            repeating-linear-gradient(
                    to bottom,
                    #000 2px,
                    transparent 4px
            ),
            linear-gradient(#007f0c, #004306);
    background-size: cover;
    --text-shadow:  -1px 0 #000,
    0 1px #000,
    1px 0 #000,
    0 -1px #000;
    --stroke-color: var(--bg-color);
    --transition: 0.5s ease;
}
