/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

/*Стили светлой темы*/

:root.theme-light {
    --bg-color: #fff;
    --main-color: #000;
    --multi-repeating-linear:
    repeating-linear-gradient(
            to right,
            #d3d3d3 0 2px,
            transparent 4px
    ),
    repeating-linear-gradient(
            to bottom,
            #d3d3d3 0 2px,
            transparent 4px
    ),
    linear-gradient(#e7e7e7, #1a1a1a);
    background-size: cover;
    --text-shadow:
    -1px 0 #fff,
    0 1px #fff,
    1px 0 #fff,
    0 -1px #fff;
    --stroke-color: var(--bg-color);
    --floppy-color: #000;
}

/*Стили темной темы*/

    :root.theme-dark {
        --bg-color: #000;
        --main-color: #00CC14;
        --multi-repeating-linear: repeating-linear-gradient(
                to right,
                #000 0 2px,
                transparent 4px
        ),
        repeating-linear-gradient(
                to bottom,
                #000 0 2px,
                transparent 4px
        ),
        linear-gradient(#007f0c, #004306);
        background-size: cover;
        --text-shadow:
        -1px 0 #000,
        0 1px #000,
        1px 0 #000,
        0 -1px #000;
        --stroke-color: var(--bg-color);
        --floppy-color: #00CC14;
    }

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000;
        --main-color: #00CC14;
        --multi-repeating-linear: repeating-linear-gradient(
                to right,
                #000 0 2px,
                transparent 4px
        ), repeating-linear-gradient(
                to bottom,
                #000 0 2px,
                transparent 4px
        ), linear-gradient(#007f0c, #004306);
        background-size: cover;
        --text-shadow: -1px 0 #000,
        0 1px #000,
        1px 0 #000,
        0 -1px #000;
        --stroke-color: var(--bg-color);
        --floppy-color: #00CC14;
    }
}


