/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --bg-color: #000;
    --font-color: #00cc14;
    --main-font:'Inter-Variable';
    --accent-font:'PressStart2P';
    --wgth: 400;
}


