/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --bg-color: #fff;
    --main-color: #000;
    --main-font:'Inter-Variable';
    --accent-font:'PressStart2P';
    --wgth: 400;
    --brd: 2px solid var(--main-color);
    --multi-repeating-linear:
        repeating-linear-gradient(
                to right,
                #d3d3d3 0 2px,
                transparent 4px
        ),
        repeating-linear-gradient(
                to bottom,
                #d3d3d3 0 2px,
                transparent 4px
        ),
        linear-gradient(#e7e7e7, #1a1a1a);
        background-size: cover;
    --text-shadow:  -1px 0 #fff,
                    0 1px #fff,
                    1px 0 #fff,
                    0 -1px #fff;
    --stroke-color: var(--bg-color);
    --transition: 0.5s ease;
}






